body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #424242;
    margin: 0;
    background-color: #F5F5F5;
}

.bg-image1 {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image2 {
    background-image: url("../img/services-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hover:hover {
    background-color: rgb(219, 59, 59);
    background-size: cover;
    
}



.bg-shadow-dark {
    background-color: rgba(0, 0, 0, 0.4);
}


.bg-shadow-danger {
    background-color: rgba(255, 0, 0, 0.4);
}

.bg-shadow-info {
    background-color: rgba(0, 174, 255, 0.4);
}