.bg-image1 {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image2 {
    background-image: url("../img/services-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hover:hover {
    background-color: rgb(236, 100, 100);
    color: white;
    background-size: cover;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bg-shadow-dark {
    background-color: rgba(53, 49, 49, 0.650);
    background-position: center;
}


.bg-shadow-danger {
    background-color: rgba(238, 72, 72, 0.650);
    background-position: center;
}

.bg-shadow-info {
    background-color: rgba(83, 174, 216, 0.650);
    background-position: center;
}


